<div class="lists">
  <!-- <div class="list">
    <header>TO DO</header>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet metus laoreet, ut condimentum</li>
    </ul>
    <footer>Add a card...</footer>
  </div>
  <div class="list">
    <header>DOING</header>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet metus laoreet, ut condimentum</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet metus laoreet, ut condimentum</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
    <footer>Add a card...</footer>
  </div>
  <div class="list">
    <header>DONE</header>
    <ul>
      <li>Just some text</li>
      <li>Just some text</li>
    </ul>
    <footer>Add a card...</footer>
  </div> -->
</div>

<div class="box" appDraggable (dragStart)="onDragStart()" (dragMove)="onDragMove()" (dragEnd)="onDragEnd()"> My Box</div>
<div class="box" appDraggable (dragStart)="onDragStart()" (dragMove)="onDragMove()" (dragEnd)="onDragEnd()"> My Box</div>


<h2>Part 2 - movable directive</h2>

<div class="box" appMovable>
  Movable 1
</div>

<div class="box" appMovable [appMovableReset]="false">
  Movable 2
</div>
