<div class="lists">
  <div class="list" droppable (onDrop)="onItemDropToDo($event)">
    <header>TO DO</header>
    <ul>
      <li draggable *ngFor="let item of toDoitems" [dragData]="item" class="list-group-item">{{item.title}}</li>
      <input #boxToDo (keyup.enter)="onEnterToDo(boxToDo.value)" placeholder="Add Task">
    </ul>
  </div>
  <div class="list" droppable (onDrop)="onItemDropDoing($event)">
    <header>DOING</header>
    <ul>
      <li draggable *ngFor="let item of doingitems" [dragData]="item" class="list-group-item">{{item.title}}</li>
      <input #boxDoing (keyup.enter)="onEnterDoing(boxDoing.value)" placeholder="Add Task">
    </ul>
    
  </div>
  <div class="list" droppable (onDrop)="onItemDropDone($event)">
    <header>DONE</header>
    <ul>
      <li draggable *ngFor="let item of doneitems" [dragData]="item" class="list-group-item">{{item.title}}</li>
      <input #boxDone (keyup.enter)="onEnterDone(boxDone.value)" placeholder="Add Task">
    </ul>
    
  </div>
</div>


